.site-data .all-markings {
    min-width: 600px;
    padding: 40px initial;
    margin: auto;
    text-align: center;
    counter-reset: markings;
}

/* markings code */
.markings {
    border: thick solid #555;
    height: 150px;
    width: 100%;
    background-color: #333;
}

.markingContainer {
    margin: 80px auto;
    width: 100%;
    min-width: 200px;
    overflow: hidden;
    counter-increment: markings;
}

    .markingContainer::before {
        content: counter(markings)'.';
        display: inline;
        position: relative;
        left: -200px;
        top:50px;
        background-color:#555;
        padding:20px;
        font-size: 25px;
        color: white;
    }

    .markingContainer.athird .markings:hover::before {
        display: none;
    }

.SingleBrokenWhiteLine {
}

    .SingleBrokenWhiteLine::before {
        display: block;
        content: '';
        width: 100%;
        height: 45%;
        border-bottom: 5px dashed white;
    }

.SingleSolidWhiteLine {
}

    .SingleSolidWhiteLine::before {
        display: block;
        content: '';
        width: 100%;
        height: 45%;
        border-bottom: 5px solid white;
    }

.MixedSolidBrokenWhiteLine {
    padding-top: 40px;
}

    .MixedSolidBrokenWhiteLine::before {
        display: block;
        content: '';
        width: 100%;
        height: 30%;
        border-bottom: 5px solid white;
    }

    .MixedSolidBrokenWhiteLine::after {
        display: block;
        content: '';
        width: 100%;
        height: 10px;
        border-bottom: 5px dashed white;
    }

.MixedBrokenSolidWhiteLine {
    padding-top: 40px;
}

    .MixedBrokenSolidWhiteLine::before {
        display: block;
        content: '';
        width: 100%;
        height: 30%;
        border-bottom: 5px dashed white;
    }

    .MixedBrokenSolidWhiteLine::after {
        display: block;
        content: '';
        width: 100%;
        height: 10px;
        border-bottom: 5px solid white;
    }

.DoubleSolidWhiteLine {
    padding-top: 40px;
}

    .DoubleSolidWhiteLine::before {
        display: block;
        content: '';
        width: 100%;
        height: 30%;
        border-bottom: 5px solid white;
    }

    .DoubleSolidWhiteLine::after {
        display: block;
        content: '';
        width: 100%;
        height: 10px;
        border-bottom: 5px solid white;
    }

.SingleSolidWhite4Lane {
    padding-top: 40px;
}

    .SingleSolidWhite4Lane::before {
        display: block;
        content: '';
        width: 100%;
        height: 20%;
        border-bottom: 5px dashed white;
    }

    .SingleSolidWhite4Lane::after {
        display: block;
        content: '';
        width: 100%;
        height: 15px;
        margin-top: 15px;
        border-top: 5px solid white;
        border-bottom: 5px dashed white;
    }

.SingleBrokenWhite4Lane {
    padding-top: 40px;
}

    .SingleBrokenWhite4Lane::before {
        display: block;
        content: '';
        width: 100%;
        height: 20%;
        border-bottom: 5px dashed white;
    }

    .SingleBrokenWhite4Lane::after {
        display: block;
        content: '';
        width: 100%;
        height: 15px;
        margin-top: 15px;
        border-top: 5px dashed white;
        border-bottom: 5px dashed white;
    }
