:root {
    --font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    --box-sizing: border-box;
    --accent: orange;
    --black: #333;
    --white: #eee;
    --orange: #fabe2d;
    --accent-t: rgba(255, 0, 0, 0.3);

    --logo-bgc: var(--black);
    --logo-bgc-hover: var(--orange);

    --logo-c: var(--orange);
    --logo-c-hover: var(--black);

    --navigation-a-bgc-hover: #007;
    --navigation-a-c-hover: var(--white);

    --navigation-a-border: thick solid var(--accent);
    --navigation-a-border-hover: thick solid var(--accent);

    --updown-margin: 1rem 0;

    --nprogress-bgc: var(--logo-c, #7f1b3d);
}

html,
body {
    padding: 0;
    margin: 0;
    font-family: var(--font-family);
}

*, *:before, *:after {
    box-sizing: var(--box-sizing);
}

@media screen and (min-width: 800px) {
    html {
        min-width: 800px;
    }
}

@media screen and (max-width: 799px) {
    html {
        min-width: 400px;
    }

    .navigation ol.hz li {
        display: block;
        margin: var(--updown-margin);
        padding: 1em;
        border-left: thick solid var(--accent);
    }
}

html {
    font-family: var(--font-family);
}

.site {
    width: 90%;
    margin: 0 auto;
}

.site-header {

}

/* navigation */
.navigation {
    font-weight: bold;
    font-family: sans-serif;
}

/* site logo */
.logo {
    margin: var(--updown-margin, 1rem 0);
    display: inline-block;
    text-transform: uppercase;
}

.logo a {
    padding: 1rem;
    background-color: var(--logo-bgc);
    color: var(--logo-c);
    text-decoration: none;
}

/* Generic Horizontal list */
ol.hz {
    padding: 0;
    margin: 0;
}

ol.hz li {
    list-style: none;
    display: inline-block;
}

ol.hz li + li {
    margin: 1rem;
}

ol.hz li a {
    text-decoration: none;
    padding: .5rem;
}

/* .navigation horizontal list */

.navigation ol.hz li.logo a:hover {
    color: var(--logo-c-hover);
    background-color: var(--logo-bgc-hover);
}

.navigation ol.hz {
    padding: 0;
    margin: var(--updown-margin);
}

.navigation ol.hz li a {
    text-decoration: none;
    padding: 1rem;
    border-left: var(--navigation-a-border);
}

.navigation ol.hz li a:hover {
    border-left: var(--navigation-a-border-hover);
    background-color: var(--navigation-a-bgc-hover);
    color: var(--navigation-a-c-hover);
}

/* search input bar */
.search-bar {
    height: 45px;
}

.search-bar .search-input {
    height: 40px;
    line-height: 40px;
    padding: .3rem;
    width: 100%;
    border: thin solid var(--accent);
}

.search-bar .search-input:focus {
    border-width: thick;
}
